
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'estilos.css' %}">
  <title>App Películas </title>
</head>

<body>
    <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
      <div class="container">
        <a href="../" class="navbar-brand">App Películas <span style="color: rgb(39, 117, 161);"> <strong> - Django
              Framework</strong>
          </span> </a>
      </div>
    </div>

    <br /><br /> <br>
    <div class="container">
     <div id="jumbotron" class="jumbotron" style="text-align: center; margin-top: 50px; margin-bottom: 50px;">
      <h1 class="display-5">App para buscar películas y su disponibilidad en plataformas de streaming </h1>
      <h5>Usando lenguaje Python y Framework Django </h5>
     </div>
    </div>



    
    <div class="container">
        <h1 style="color: #199ccc; margin-bottom: 20px;">Películas y dónde verlas</h1>
        <form method="post" class="d-flex" style="margin-bottom: 20px; width: 50%">
            {% csrf_token %}
            <input class="form-control me-sm-2" type="text" name="título" placeholder="Escribir título de la peli">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
        </form>
        <div class="card-container">
        {% for título, plataformas in completo.items %}
            <div class="card bg-info text-white">
                <div class="card-header">{{ título }}</div>
                <div class="card-body">
                    <img src= "{{ plataformas.0.poster }}">    
                    <ul> Plataformas disponibles y rating de IMDB:
                    {% for plataforma in plataformas %}
                        {% for plataforma in plataforma.plataformas %}
                            
                                <li> {{ plataforma|upper }}</li>
                            
                        {% endfor %}
                        <li>Rating: {{ plataforma.rating }}</li>
                        
                    {% endfor %}   
                    </ul>
                </div>
            </div>
        {% empty %}
            <p>No hay películas.</p>
        {% endfor %}
        </div>
    </div>
 </body>
</html>
